@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

*{padding: 0;
margin: 0;
box-sizing: border-box;}

html{
	font-size: 10px;
	font-family: "montserrat", Sans-serif;
}
a{
	text-decoration: none;
	
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;	
}
img {
	height: 100px;
	width: 100px;
	object-fit: cover; }

/*hello section*/
#hello{
	background-image: url("images/bana-n-nav.gif");
	background-size:cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	
}
#hello::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: .3;
	z-index: -1;
}
#hello .hello{
	max-height: 1600px;
	margin: 0 auto;
	padding: 0 150px;
	justify-content: flex-start;
}

#hello h1{
	display: block;
	width: fit-conent;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1.5s;
}
#hello h1:nth-child(1){
	animation-delay: 1s;}

#hello h1:nth-child(2){
	animation-delay: 2s;
}
#hello h1:nth-child(3){
	animation: text_revea_name .5s ease fowards;
	animation-delay: 3s;
}

#hello h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: yellow;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#hello h1:nth-child(1) span{
	animation-delay: .5s;
}
#hello h1:nth-child(2) span{
	animation-delay: 1.5s;
}
#hello h1:nth-child(3) span{
	animation-delay: 2.5s;
}

#hello .cta{
	display: inline-block;
	padding: 10px 30px;
	color: yellow;
	background-color: transparent;
	border: 2px solid yellow;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
#hello .cta:hover {
	color: black;
	background-color: yellow;
}
/* end hello section*/



/* service section*/
#services{}
#services .services{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .section-title{
	forn-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
#services .section-title span {
	color: goldenrod;
}

#services .service-top p {
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .2rem;
}

#services .service-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url("images/birth.gif");
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
}
#services .service-item::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}

#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
	
}

/* end service section*/


/* keframes */

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	
	100% {
		width: 0;
		left: 100%;
	}
}
	
	

@keyframes text_reveal{
	100%{
		color: white;}

}

@keyframes text_reveal_name{
	100%{
		color: yellow;
		font-weight: 500px;}

}

/* keframes */
